/* ============== COMMON STYLES ============== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.accent-color {
  color: #2e2f42;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* ============== COMMON STYLES ============== */

/* ============== HEADER MOBILE STYLES ============== */
.menu-list {
  display: none;
}

.contact-list {
  display: none;
}

.page-header {
  padding-top: 16px;
  padding-bottom: 16px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logotype {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.mobile-menu-list {
  gap: 40px;
  display: flex;
  flex-direction: column;
}

.mobile-menu-link {
  color: #2e2f42;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02px;
  text-transform: capitalize;
}

.mobile-menu-link:hover {
  color: #404bbf;
}

.mobile-menu-link.mobile-menu-current {
  color: #404bbf;
  position: relative;
}

/* .mobile-menu-link.mobile-menu-current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 48px;
  height: 4px;
} */
.mobile-menu-contact-list {
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.mobile-menu-contact-list-phone {
  color: #4d5ae5;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  stransition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-contact-list-link {
  color: #434455;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  stransition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.mobile-menu-social-list-item {
  /* display: flex;
  justify-content: center;
  align-item: center; */
  width: 40px;
  height: 40px;
}

.mobile-menu-social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-social-list-link:hover,
.mobile-menu-social-list-link:focus {
  background-color: #404bbf;
}

.mobile-menu-social-list-icon {
  fill: #f4f4fd;
}

/* ============== /HEADER MOBILE STYLES ============== */
/* ============== HERO MOBILE STYLES ============== */
.hero {
  background-color: #2e2f42;
  padding: 72px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/hero-background-mob.jpg);
  max-width: 320px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  min-height: 432px;
}

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/hero-background-mob@2x.jpg);
  }
}

.main-title {
  color: #ffffff;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  max-width: 288px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.order-servis-btn {
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-servis-btn:hover,
.order-servis-btn:focus {
  background-color: #404bbf;
}

/* ============== /HERO MOBILE STYLES ============== */
/* ============== features MOBILE STYLES ============== */
.features {
  background-color: #ffffff;
  padding: 96px 0;
}

.features-list {
  display: flex;
  gap: 72px;
  flex-direction: column;
}

.features-list-item {
  width: 100%;
}

.features-list-icon-container {
  display: none;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
}

.features-list-title {
  color: #2e2f42;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
  width: 100%;
}

.features-list-text {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ============== /features MOBILE STYLES ============== */
/* ============== TEAM MOBILE STYLES ============== */
.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
  justify-content: center;
}

.team-list-item {
  background-color: #ffffff;
  /* width: calc((100% - 2px) / 4); */
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-name-position {
  padding: 32px 0;
}

.team-list-title {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-list-text {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.social-list-item {
  width: 40px;
  height: 40px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}

.social-list-icon {
  fill: #f4f4fd;
}

/* ============== /TEAM MOBILE STYLES ============== */
/* ============== PORTFOLIO MOBILE STYLES ============== */
.portfolio {
  background-color: #ffffff;
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  width: 320px;
}

.portfolio-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .text-app {
  transform: translateY(0%);
}

.image-app-container {
  position: relative;
  overflow: hidden;
}

.text-app {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.porflio-products {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list-title {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-list-text {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ============== /PORTFOLIO MOBILE STYLES ============== */
/* ============== FOOTER MOBILE STYLES ============== */
.page-footer {
  background-color: #2e2f42;
  padding-top: 96px;
}

.page-footer-container {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap;
  gap: 72px;
  height: auto;
}

/* .logotype-footer-container {
  margin-right: 96px;
} */
.logotype-footer {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
  margin-left: 86px;
}

.accent-color-footer {
  color: #f4f4fd;
}

.page-footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 288px;
}

.page-footer-social-text {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}

.footer-social-list {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  gap: 16px;
}

.social-list-item {
  width: 40px;
  height: 40px;
}

.footer-social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: #31d0aa;
}

/* ============== /FOOTER MOBILE STYLES ============== */
/* ============== FORM MOBILE STYLES ============== */
.page-footer-form-container {
  padding-bottom: 96px;
}

.page-footer-form-text {
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}

.footer-form {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 24px;
}

.footer-form-input {
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

.form-input::placeholder {
  color: #ffffff;
}

.footer-form-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  gap: 16px;
  text-align: center;
  margin: 0 auto;
  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-button:hover,
.footer-form-button:focus {
  background-color: #31d0aa;
}

.form-button-icon {
  margin-left: 16px;
}

/* ============== /FORM MOBILE STYLES ============== */
/* ============== BACKDROP STYLES ============== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: auto;
}

/* .backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
} */
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* ============== MODAL WINDOW MOBILE STYLES ============== */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 0px;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* stroke: #2e2f42; */
}

.form-description {
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

/* ============== /MODAL WINDOW MOBILE STYLES ============== */
/* ============== MODAL FORM STYLES ============== */

.modal-form-wrapper {
  margin-bottom: 8px;
}

.modal-form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-form-input-wrapper {
  position: relative;
}

.modal-form-field {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-field:focus {
  border-color: #4d5ae5;
  outline-color: transparent;
  outline-offset: 4px;
}

.modal-form-field-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-field:focus+.modal-form-field-icon {
  fill: #4d5ae5;
}

.modal-form-comment {
  margin-bottom: 16px;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
  border-color: #4d5ae5;
  outline-color: transparent;
  outline-offset: 4px;
}

.modal-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.modal-form-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-form-own-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  cursor: pointer;
}

.pryvacy-policy-link {
  color: #4d5ae5;
}

.modal-form-checkbox:checked+.modal-form-checkbox-label .modal-form-own-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-form-checkbox:focus+.modal-form-checkbox-label .modal-form-own-checkbox {
  outline: 2px solid rgba(0, 0, 255, 0.5);
}

.modal-form-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  padding: 16px 32px;
  margin: 0 auto;
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: #404bbf;
}

/* ============== /MODAL FORM STYLES ============== */

/* ============== HEADER TABLET STYLES ============== */

.mobile-open-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  margin-left: auto;
}

.mobile-open-btn-icon {
  fill: #2f2f37;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  opacity: 0;
  visibility: visible;
  pointer-events: none;
}

/* .mobile-menu.is-open {
    transform: translateX(0%);
  } */

.mobile-menu-container {
  position: relative;
}

.mobile-menu-close-btn {
  display: block;
  margin-left: auto;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #e7e9fc;
  color: #ffffff;
  margin-bottom: 24px;
  fill: #2f2f37;
  align-items: center;
  justify-content: center;

  /* position: absolute;
    top: 24px;
    right: 24px;
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    stroke: #2e2f42;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

/* .mobile-menu-list {
    gap: 40px;
    display: flex;
    flex-direction: column;
  } */
/* .mobile-menu-link {
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11; 
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
  } */
/* .mobile-menu-link:hover {
    color: #404bbf;
  }
  .mobile-menu-link.mobile-menu-current {
    color: #404bbf;
    position: relative;
  }
  .mobile-menu-link.mobile-menu-current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 48px;
    height: 4px;
  } */
/* .mobile-menu-contact-list {
    gap: 24px;
    display: flex;
    flex-direction: column;
  } */

/* @media screen and (min-width: 480px) {
  .container {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
} */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /* ============== /HEADER TABLET STYLES ============== */
  .page-navigation {
    display: flex;
    align-items: center;
  }

  .menu-list {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .menu-link {
    color: #2e2f42;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    position: relative;
    display: block;
  }

  .current {
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #404bbf;
  }

  .current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;

    width: 100%;
  }

  .contact {
    font-style: normal;
  }

  .contact-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .contact-list-link {
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-list-link:hover,
  .contact-list-link:focus {
    color: #404bbf;
  }

  .menu-link:hover,
  .menu-link:focus {
    color: #404bbf;
  }

  .mobile-menu {
    display: none;
  }

  .mobile-open-btn {
    display: none;
  }

  /* ============== /HEADER TABLET STYLES ============== */
  /* ============== HERO TABLET STYLES ============== */
  .hero {
    min-height: 436px;
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/hero-background-tab.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/hero-background-tab@2x.jpg);
    }
  }

  .main-title {
    max-width: 496px;
    font-size: 56px;
    margin-bottom: 36px;
    line-height: 1.07;
  }

  /* ============== /HERO TABLET STYLES ============== */
  /* ============== features TABLET STYLES ============== */

  .features-list {
    gap: unset;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .features-list-item {
    width: calc((100% - 24px) / 2);
  }

  .features-list-title {
    text-align: left;
  }

  /* ============== /features TABLET STYLES ============== */
  /* ============== TEAM TABLET STYLES ============== */
  .team-list {
    gap: 24px;
  }

  .team-list-item {
    width: calc((100% - 24px) / 2);
  }

  /* ============== /TEAM TABLET STYLES ============== */

  /* ============== PORTFOLIO TABLET STYLES ============== */

  .portfolio-list {
    width: 768px;
  }

  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }

  /* ============== /PORTFOLIO TABLET STYLES ============== */
  /* ============== FOOTER TABLET STYLES ============== */
  .page-footer {
    padding: 100px 0;
  }

  .page-footer-container {
    justify-content: unset;
    max-width: 580px;
    row-gap: 72px;
    column-gap: 24px;
    flex-direction: row;
  }

  .logotype-footer-container {
    margin-left: 0;
    padding: 0;
  }

  .logotype-footer {
    margin-left: unset;
  }

  .page-footer-text {
    width: 264px;
  }

  .page-footer-social {
    margin-left: 0;
  }

  .page-footer-social-text {
    text-align: left;
  }

  /* ============== /FOOTER TABLET STYLES ============== */
  /* ============== FORM TABLET STYLES ============== */
  .page-footer-form-container {
    justify-content: center;
    flex-direction: column;
    margin-left: 0;
    padding-bottom: 0;
  }

  .page-footer-form-text {
    text-align: left;
  }

  .footer-form-input {
    width: 264px;
  }

  .footer-form-button {
    margin: unset;
  }

  /* ============== /FORM TABLET STYLES ============== */
  /* ============== MODAL WINDOW MOBILE STYLES ============== */

  .modal {
    width: 408px;
    min-height: 584px;
  }

  /* ============== /MODAL WINDOW MOBILE STYLES ============== */
}

/* ============== HEADER DESKTOP STYLES ============== */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .contact-list {
    display: flex;
    flex-direction: unset;
    gap: 40px;
  }

  /* ============== /HEADER DESKTOP STYLES ============== */
  /* ============== HERO DESKTOP STYLES ============== */
  .hero {
    min-height: 600px;
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/hero-background-desk.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/hero-background-desk@2x.jpg);
    }
  }

  .main-title {
    margin-bottom: 48px;
  }

  /* ============== /HERO DESKTOP STYLES ============== */
  /* ============== features DESKTOP STYLES ============== */
  .features {
    padding: 120px 0;
  }

  .features-list {
    gap: 24px;
    flex-direction: unset;
    flex-wrap: nowrap;
  }

  .features-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .features-list-icon-container {
    display: flex;
  }

  .features-list-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .features-list-text {
    font-weight: 400;
  }

  /* ============== /features DESKTOP STYLES ============== */
  /* ============== TEAM DESKTOP STYLES ============== */
  .team {
    padding: 120px 0;
  }

  .team-list-item {
    width: calc((100% - 72px) / 4);
  }

  /* ============== /TEAM DESKTOP STYLES ============== */
  /* ============== PORTFOLIO DESKTOP STYLES ============== */

  .portfolio-list {
    width: 1158px;
  }

  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
  }

  /* ============== /PORTFOLIO DESKTOP STYLES ============== */

  /* ============== FOOTER DESKTOP STYLES ============== */
  .page-footer-container {
    display: flex;
    align-items: baseline;
  }

  .logotype-footer-container {
    margin-right: 120px;
  }

  .page-footer-social {
    flex-direction: column;
  }

  /* ============== /FOOTER DESKTOP STYLES ============== */
  /* ============== FORM DESKTOP STYLES ============== */
  .page-footer-form-container {
    display: flex;
    justify-content: center;
    margin-left: auto;
  }

  .footer-form {
    align-items: baseline;
  }

  /* ============== /FORM DESKTOP STYLES ============== */
}